
        <h6 align="center">Welcome to the Altz Genetics app, an early detection tool for Early-onset Alzheimer's Disease.* <br/> <p>Please enter your name and age to continue. Click to <a   href="/example">preview</a></p></h6>
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
<form class="form-inline" role="form"  action="/validates_age" method="get">
  <div class="form-group">
    <label class="sr-only" for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="age">Age</label>
    <input type="number" name="age" class="form-control" id="age" placeholder="Age">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>

<p align="center">*Disclaimer: <small>The results presented by this application are based on studies conducted for the research of Early-Onset Alzheimer's Disease. Please see a genetic counselor for more accurate results.</small></p>
